- cn = host.enabled ? 'status-enabled' : ''

li.host(class='#{cn}', data-order='#{host.order}')
	h3.name
		.text= host.name
		input.editor.span5(type='text')
		.status-label.status-open (已启用)
		.status-label.status-close (已关闭)

	.row
		.body.span10
			textarea= host.body

		.op.span2
			p
				button.switch-on.btn
					i.icon-play
					span 打开

				button.switch-off.btn
					i.icon-pause
					span 关闭

			p
				button.btn.remove
					i.icon-remove
					span 移除
